details {
    user-select: none;
}
details[open] summary svg {
    transform: rotate(-90deg);
}
summary {
    cursor: pointer;
}
svg {
    transition: all 0.3s;
}
summary::-webkit-details-marker {
    display: none;
}
:focus {
    outline: none;
}


.fill-current {
    fill: #636b6f;
}
.w-4 { width: 1rem; }

.h-4 { height: 1rem; }
